{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1"><h3>SMART ACADEMY</h3><h5>Kollam, Pathanamthitta</h5></span>
    </nav>
    <title>Smart Academy</title>
</head>
<body style="background-color:lightgrey;">
{% block content %}
{% endblock %}
</body>
</html>