{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row-md-5">''</div>
<div class="row-md-7">
    <h3 style="text-align:center;"><b>Your registration is complete, thank you</b></h3>
    <div class="col-sm-5"><span> </span></div>
    <div class="col" style="text-align:center">
        <img src="{% static 'pictures/Untitled-13.png'%}">
    </div>
</div>
<div class="row">''</div>
<div class="row">
    <div class="col" style="text-align:center">
        <a class="btn btn-primary" href="/">Home</a>
    </div>
</div>
{% endblock %}